.App {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Handlee", cursive;
}
.App a {
  text-decoration: none;
  color: #5e428f;
}
body {
  background-image: url("./images/image1.jpg");

  background-size: contain;
}

.App footer {
  font-size: 20px;
  font-weight: 900;
}
