.Dictionary {
  color: rgba(0, 0, 0, 0.502);
  margin: 30px 0;
}
.Dictionary h3 {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2px;
}

.Dictionary section {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: linear-gradient(120deg, #ebd9fb 0%, #c7def5 100%);
}
@media (max-width: 990px) {
  .Dictionary h3 {
    font-size: 18px;
  }
}
