.Photos h2 {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 30px;
}

.Photos img {
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.Photos img:hover {
  transform: scale(1.2);
}
@media (max-width: 990px) {
  .Photos img:hover {
    transform: scale(1);
  }
  .Photos h2 {
    font-size: 23px;
  }
}
